{% extends 'base.html' %}

    {% block titu %}<title> sBooks: Para tí </title>{%  endblock %}

{% block content %}

    <section id="four" class="wrapper style1 special fade-up">


        <div class="container">
            <header class="major">
                <h2>Similares</h2>
            </header>

        <section>>

    <form id="formulario" action="" method="post">{% csrf_token %}
        {{ formulario.as_p }}
        <p><input type="submit"></p>
    </form>

    </section>

            <div class="box alt">
                <div class="row gtr-uniform">
                    <section class="col-3 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-chart-area"></span>
                        <h3>Puntuacion:  5</h3>
                        <h3>Título</h3>
                        <h4>Autor</h4>
                        <a href="#" class="button small">Ver más</a>
                    </section>
                </div>
            </div>
        </div>
    </section>



{% endblock %}