
.DS_Store
sbooks/sbooks/__pycache__/wsgi.cpython-37.pyc
sbooks/sbooks/__pycache__/urls.cpython-37.pyc
sbooks/db.sqlite3
sbooks/.idea/vcs.xml
sbooks/.idea/sbooks.iml
sbooks/.idea/modules.xml
sbooks/.idea/misc.xml
sbooks/.idea/inspectionProfiles/profiles_settings.xml
sbooks/users/__pycache__/__init__.cpython-37.pyc
sbooks/users/__pycache__/admin.cpython-37.pyc
sbooks/users/__pycache__/apps.cpython-37.pyc
sbooks/users/__pycache__/models.cpython-37.pyc
sbooks/users/migrations/__pycache__/__init__.cpython-37.pyc
sbooks/sbooks/__pycache__/settings.cpython-37.pyc
sbooks/sbooks/__pycache__/__init__.cpython-37.pyc
sbooks/recommendation_sys/migrations/__pycache__/__init__.cpython-37.pyc
sbooks/recommendation_sys/__pycache__/models.cpython-37.pyc
sbooks/recommendation_sys/__pycache__/apps.cpython-37.pyc
sbooks/recommendation_sys/__pycache__/admin.cpython-37.pyc
sbooks/recommendation_sys/__pycache__/__init__.cpython-37.pyc
sbooks/sbooks/__pycache__/settings.cpython-37.pyc
sbooks/sbooks/__pycache__/__init__.cpython-37.pyc
sbooks/sbooks/__pycache__/settings.cpython-37.pyc
sbooks/sbooks/__pycache__/__init__.cpython-37.pyc
sbooks/books/__pycache__/views.cpython-37.pyc
sbooks/books/__pycache__/models.cpython-37.pyc
sbooks/books/__pycache__/apps.cpython-37.pyc
sbooks/books/__pycache__/admin.cpython-37.pyc
sbooks/books/__pycache__/__init__.cpython-37.pyc
