
.DS_Store
sbooks/sbooks/__pycache__/wsgi.cpython-37.pyc
sbooks/sbooks/__pycache__/urls.cpython-37.pyc
sbooks/db.sqlite3
sbooks/.idea/vcs.xml
sbooks/.idea/sbooks.iml
sbooks/.idea/modules.xml
sbooks/.idea/misc.xml
sbooks/.idea/inspectionProfiles/profiles_settings.xml
sbooks/users/__pycache__/__init__.cpython-37.pyc
sbooks/users/__pycache__/admin.cpython-37.pyc
sbooks/users/__pycache__/apps.cpython-37.pyc
sbooks/users/__pycache__/models.cpython-37.pyc
sbooks/users/migrations/__pycache__/__init__.cpython-37.pyc
sbooks/sbooks/__pycache__/settings.cpython-37.pyc
sbooks/sbooks/__pycache__/__init__.cpython-37.pyc
sbooks/recommendation_sys/migrations/__pycache__/__init__.cpython-37.pyc
sbooks/recommendation_sys/__pycache__/models.cpython-37.pyc
sbooks/recommendation_sys/__pycache__/apps.cpython-37.pyc
sbooks/recommendation_sys/__pycache__/admin.cpython-37.pyc
sbooks/recommendation_sys/__pycache__/__init__.cpython-37.pyc
sbooks/sbooks/__pycache__/settings.cpython-37.pyc
sbooks/sbooks/__pycache__/__init__.cpython-37.pyc
sbooks/sbooks/__pycache__/settings.cpython-37.pyc
sbooks/sbooks/__pycache__/__init__.cpython-37.pyc
sbooks/books/__pycache__/views.cpython-37.pyc
sbooks/books/__pycache__/models.cpython-37.pyc
sbooks/books/__pycache__/apps.cpython-37.pyc
sbooks/books/__pycache__/admin.cpython-37.pyc
sbooks/books/__pycache__/__init__.cpython-37.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/sBooks.iml
.idea/vcs.xml
.idea/workspace.xml
sbooks/books/__pycache__/__init__.cpython-38.pyc
sbooks/books/__pycache__/admin.cpython-38.pyc
sbooks/books/__pycache__/apps.cpython-38.pyc
sbooks/books/__pycache__/models.cpython-38.pyc
sbooks/books/migrations/0001_initial.py
sbooks/books/migrations/0002_auto_20200104_1130.py
sbooks/books/migrations/0003_auto_20200104_1131.py
sbooks/books/migrations/0004_auto_20200104_1231.py
sbooks/books/migrations/__pycache__/0001_initial.cpython-38.pyc
sbooks/books/migrations/__pycache__/0002_auto_20200104_1130.cpython-38.pyc
sbooks/books/migrations/__pycache__/0003_auto_20200104_1131.cpython-38.pyc
sbooks/books/migrations/__pycache__/0004_auto_20200104_1231.cpython-38.pyc
sbooks/books/migrations/__pycache__/__init__.cpython-38.pyc
sbooks/recommendation_sys/__pycache__/__init__.cpython-38.pyc
sbooks/recommendation_sys/__pycache__/admin.cpython-38.pyc
sbooks/recommendation_sys/__pycache__/apps.cpython-38.pyc
sbooks/recommendation_sys/__pycache__/models.cpython-38.pyc
sbooks/recommendation_sys/migrations/__pycache__/__init__.cpython-38.pyc
sbooks/sbooks/__pycache__/__init__.cpython-38.pyc
sbooks/sbooks/__pycache__/settings.cpython-38.pyc
sbooks/sbooks/__pycache__/urls.cpython-38.pyc
sbooks/sbooks/__pycache__/wsgi.cpython-38.pyc
sbooks/sbooks/__pycache__/__init__.cpython-37.pyc
sbooks/sbooks/__pycache__/settings.cpython-37.pyc
sbooks/books/migrations/0005_auto_20200105_1022.py
sbooks/books/migrations/__pycache__/0005_auto_20200105_1022.cpython-38.pyc
sbooks/sbooks/__pycache__/settings.cpython-37.pyc
sbooks/books/__pycache__/views.cpython-38.pyc
sbooks/users/__pycache__/__init__.cpython-38.pyc
sbooks/users/__pycache__/admin.cpython-38.pyc
sbooks/users/__pycache__/apps.cpython-38.pyc
sbooks/users/__pycache__/models.cpython-38.pyc
sbooks/users/migrations/__pycache__/__init__.cpython-38.pyc
sbooks/.idea/workspace.xml___jb_tmp___
sbooks/__pycache__/manage.cpython-38.pyc
sbooks/books/__pycache__/forms.cpython-38.pyc
sbooks/books/migrations/0006_auto_20200108_1058.py
sbooks/books/migrations/0007_auto_20200109_1343.py
sbooks/books/migrations/__pycache__/0006_auto_20200108_1058.cpython-38.pyc
sbooks/books/migrations/__pycache__/0007_auto_20200109_1343.cpython-38.pyc
sbooks/indiceWhoosh/_MAIN_1.toc
sbooks/indiceWhoosh/MAIN_82bvijj8hymwv50r.seg
sbooks/indiceWhoosh/MAIN_bj9iwr79d8tbjg67.seg
sbooks/indiceWhoosh/MAIN_WRITELOCK
sbooks/indiceWhoosh/MAIN_82bvijj8hymwv50r.seg
sbooks/indiceWhoosh/MAIN_82bvijj8hymwv50r.seg
sbooks/indiceWhoosh/MAIN_82bvijj8hymwv50r.seg
sbooks/books/migrations/0008_auto_20200113_0028.py
sbooks/books/migrations/__pycache__/0008_auto_20200113_0028.cpython-38.pyc
sbooks/indiceWhoosh/MAIN_82bvijj8hymwv50r.seg
sbooks/recommendation_sys/__pycache__/recommendations.cpython-38.pyc
sbooks/recommendation_sys/__pycache__/views.cpython-38.pyc
sbooks/indiceWhoosh/MAIN_82bvijj8hymwv50r.seg
