{% extends 'base.html' %}

{% block titulo %} Libros {% endblock %}

{% block libros %}

    <section id="four" class="wrapper style1 special fade-up">
        <div class="container">
            <header class="major">
                <h2>Todos los libros</h2>
            </header>

            <div class="box alt">
                <div class="row gtr-uniform">
                    <section class="col-3 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-chart-area"></span>
                        <h3>Título</h3>
                        <h5>Autor</h5>
                        <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                        <a href="#" class="button small">Enlace</a>
                    </section>
                </div>
            </div>
        </div>
    </section>



{% endblock %}