{% extends 'base.html' %}

    {% block titu %}<title> sBooks: Libros </title>{%  endblock %}

{% block content %}
        <section id="four" class="wrapper style1 special fade-up">
            <p class="centrado">
            <span class=" image left">
                <img class="foto_libro" src="{{ libro.portada }}" alt="{{titulo}}">
            </span>
            <h2>{{libro.titulo}}</h2>
            <h3>Puntuación (Casa del Libro): {{libro.puntuacion_media}} </h3>
            <h3>Puntuacion:</h3>

             <div class="col-sm-2 mb-sm-20  entra">
                <select class="form-control">
                  <option selected="selected">Mi puntuación</option>
                  <option>1</option>
                 <option>2</option>
                 <option>3 </option>
                 <option>4</option>
                 <option>5</option>
                </select>
              </div>

            <h4>{{libro.autor}}</h4>
            <h5>{{libro.categoria}}</h5>
            <p> {{libro.descripcion}} </p>
            <a href="{{libro.detalle_enlace}}" class="button small">Casa del Libro</a>
            </p>
        </section>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}