{% extends 'base.html' %}

    {% block titu %}<title> sBooks: Libros </title>{%  endblock %}

{% block content %}

    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h2>{{libro.titulo}}</h2>
                <p>{{libro.autor}}</p>
                <h5>{{libro.categoria}}</h5>


            </header>
            <span>
            <span class="image left">
            <img src="{{ libro.portada }}" alt="{{titulo}}">
            </span>
            <h4>Puntuación (Casa del Libro): {{libro.puntuacion_media}} </h4>
            <h4>Puntuación (Usuario): {{puntuacionUsuarioActual.puntuacion}} </h4>

            <form class="row"id="formulario" method="post" action=''>{% csrf_token %}
                <input class="form-control person" type="text" name="tu_puntuacion"  required value="" id="id_tu_puntuacion"
                             placeholder="Puntuación del 1 al 5"/>

                <div class="col-sm-3">
                <button class="button primary btn_category " value='puntuar' type="submit">Puntuar</button>
                </div>
            </form>



            <blockquote> {{libro.descripcion}} </blockquote>

            <a href="{{libro.detalle_enlace}}" class="button small">Casa del Libro</a>




            </span>




        </div>


    </div>













{% endblock %}