{% extends 'base.html' %}

    {% block titu %}<title> sBooks: Libros </title>{%  endblock %}

{% block content %}

    <section id="four" class="wrapper style1 special fade-up">


        <div class="container">
            <header class="major">
                <h2>Libros</h2>
            </header>

        <section>
         <div class="container">
            <form class="row"id="formulario" method="get" action=''>{% csrf_token %}

                <div class="search-box">
                      <input class="form-control libros" type="text" name="titulo_autor" id="id_libros"
                             placeholder="Buscar título, autor o categoría"/>
                </div>

              <div class="col-sm-3">
                <button class="button primary btn_category buscar_btn" type="submit">Buscar</button>
              </div>
            </form>


          </div>
        </section>

            <div class="box alt">
                <div class="row gtr-uniform">
                {% for x in libros %}
                    <section class="col-3 col-6-medium col-12-xsmall suspensivos">
                        <span><img src="{{x.portada}}" alt="{{x.titulo}}" width="145" height="215"></span>
                        {% if not x.puntuacion_media %}
                            <h4>Puntuacion media: -  </h4>
                        {% else %}
                            <h4>Puntuacion media: {{x.puntuacion_media}} </h4>
                        {% endif %}
                        <h4>{{x.titulo}}</h4>
                        <h5>{{x.autor}}</h5>
                        <a href='libro/{{x.idLibro}}' class="button small">Ver más</a>
                    </section>
                {% endfor %}

                </div>

            </div>
        </div>
    </section>

{% if libros.has_other_pages %}
  <div class="pagination">
    {% if libros.has_previous %}
      <a href="?page={{ libros.previous_page_number }}">&laquo;</a>
    {% else %}
      <a class="disabled"><span>&laquo;</span></a>
    {% endif %}
    {% for i in libros.paginator.page_range %}
      {% if libros.number == i %}
        <a class="active"><span>{{ i }} <span class="sr-only">(actual)</span></span></a>
      {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if libros.has_next %}
      <a href="?page={{ libros.next_page_number }}">&raquo;</a>
    {% else %}<span>&raquo;</span>
    {% endif %}
  </div>
{% endif %}


{% endblock %}