{% extends 'base.html' %}

    {% block titu %}<title> sBooks: Para tí </title>{%  endblock %}

{% block content %}

    <section id="four" class="wrapper style1 special fade-up">


        <div class="container">
            <header class="major">
                <h2>Similares</h2>
            </header>

        <section>
          <div class="container">
            <form class="row">
              <div class="col-sm-4 mb-sm-20 centrado">
                <select class="form-control">
                  <option selected="selected">Orden por defecto</option>
                  <option>Puntuación: Mejor puntuados primero</option>
                  <option>Puntuación: Peor puntuados primero</option>
                </select>
              </div>
              <div class="col-sm-2 mb-sm-20 centrado">
                <select class="form-control">
                  <option selected="selected">Categoría</option>
                  <option>Categoría 1</option>
                 <option>Categoría 2</option>
                 <option>Categoría 3</option>
                 <option>Categoría 4</option>
                 <option>Categoría 5</option>

                </select>
              </div>
              <div class="col-sm-3 mb-sm-20 centrado">
                <select class="form-control">
                  <option selected="selected">Autor</option>
                  <option>Autor1</option>
                  <option>Autor2</option>
                  <option>Autor3</option>
                  <option>Autor4</option>
                  <option>Autor5</option>
                  <option>Autor6</option>
                </select>
              </div>

                <div class="search-box">
                      <input class="form-control" type="text" placeholder="Buscar..."/>
                    </div>

              <div class="col-sm-3 centrado">
                <button class="button primary btn_category" type="submit">Aplicar</button>
              </div>
            </form>


          </div>
    </section>

            <div class="box alt">
                <div class="row gtr-uniform">
                    <section class="col-3 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-chart-area"></span>
                        <h3>Puntuacion:  5</h3>
                        <h3>Título</h3>
                        <h4>Autor</h4>
                        <a href="#" class="button small">Ver más</a>
                    </section>
                </div>
            </div>
        </div>
    </section>



{% endblock %}