{% load crispy_forms_tags %}

{% block content %}


    <div class="container-login100">
    <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
      <form class="login100-form validate-form flex-sb flex-w" method="post">
        {% csrf_token %}
        <span class="login100-form-title p-b-53">
          Sign In With
        </span>

        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
           {{ error }}
          {% endfor %}
        </div>
        {% endfor %}


        <div class="wrap-input100 validate-input" data-validate="Username is required">
          {{ form|as_crispy_field }}
          <span class="focus-input100"></span>
        </div>


{% endblock %}

